In [1]:
import locationsharinglib
from locationsharinglib import Service
cookies_file = 'C:\\Training\\Python37\\Scripts\\cookies.txt'
google_email = 'ramanraghu998@gmail.com'
service = Service(cookies_file=cookies_file, authenticating_account=google_email)
#for person in service.get_all_people():
#    print(person)

In [12]:
import pypyodbc

In [2]:
for person in service.get_all_people():
    print(person)

Full name        :Rushik Parmar
Nickname         :Rushik
Current location :MIDC INDL Area, Airoli, Navi Mumbai, Maharashtra 400708, India
Latitude         :19.1620084
Longitude        :73.0010251
Datetime         :2019-12-23 07:36:12.501000+00:00
Charging         :False
Battery %        :80
Accuracy         :26

In [7]:
import pandas as pd

In [8]:
names = []
address = []
latitude = []
longitude = []
datetime = []
listoflists = []
for person in service.get_all_people():
    names.append(person.full_name)
    address.append(person.address)
    latitude.append(person.latitude)
    longitude.append(person.longitude)
    datetime.append(person.datetime)
listoflists.append(names)
listoflists.append(address)
listoflists.append(latitude)
listoflists.append(longitude)
listoflists.append(datetime)
listoflists

[['Ameya Deshmukh', 'VIKALP UNIYAL'],
 ['MIDC INDL Area, Airoli, Navi Mumbai, Maharashtra 400708, India',
  'Chinch Pada, 492, Thane - Belapur Rd, Chinch Pada, Airoli Naka, Airoli, Navi Mumbai, Maharashtra 400708, India'],
 [19.1619993, 19.1621451],
 [73.0010166, 73.001118],
 [datetime.datetime(2019, 12, 19, 6, 51, 25, 131000, tzinfo=<UTC>),
  datetime.datetime(2019, 12, 19, 6, 52, 0, 935000, tzinfo=<UTC>)]]

In [9]:
import numpy as np
l=np.array(listoflists).T.tolist()

In [10]:
df = pd.DataFrame(l,columns = ['Name' , 'Location','Latitude','Longitude','datetime']) 
df

,Name,Location,Latitude,Longitude,datetime
0,Ameya Deshmukh,"MIDC INDL Area, Airoli, Navi Mumbai, Maharasht...",19.161999,73.001017,2019-12-19 06:51:25.131000+00:00
1,VIKALP UNIYAL,"Chinch Pada, 492, Thane - Belapur Rd, Chinch P...",19.162145,73.001118,2019-12-19 06:52:00.935000+00:00

In [32]:
from datetime import datetime
from dateutil import tz
df['ist'] = df['datetime'].dt.tz_convert('Asia/Kolkata')
df

,Name,Location,Latitude,Longitude,datetime,ist
0,Ameya Deshmukh,"MIDC INDL Area, Airoli, Navi Mumbai, Maharasht...",19.161999,73.001017,2019-12-19 06:51:25.131000+00:00,2019-12-19 12:21:25.131000+05:30
1,VIKALP UNIYAL,"Chinch Pada, 492, Thane - Belapur Rd, Chinch P...",19.162145,73.001118,2019-12-19 06:52:00.935000+00:00,2019-12-19 12:22:00.935000+05:30